include LICENSE
include README.md
include build_config.py
include src/epcsaft/epcsaft.pyx
include src/epcsaft/epcsaft.pxd
recursive-include src/epcsaft/native *.cpp *.h
recursive-include data/epcsaft_parameters *.csv *.json *.md
